.main{
    display: flex;
    position: relative;
    height: 100%;
    margin: 2% 0 2% 0;
    padding: 2%;
    justify-content: space-around;
}
/* 商品一覧 */
.itemList{
    display: flex;
    color: black;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.itemBox{
    height: 15rem;
    width: 70%;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 2rem;
}
.flex{
    display: flex;
    padding: 1rem;
    position: relative;
    border-bottom: solid 2.5px #afafaf;
    border-top: solid 2.5px #afafaf;
    transition: all 0.2s ease-out;
}
.imageBox{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 42%;
    height: 100%;
}
.image{
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 1px solid #afafaf;
}
.discriptionBox{
    display: flex;
    width: 58%;
    height: 100%;
    flex-direction: column;
    position: relative;
}
.discriptionBox div{
    margin-bottom: 0.5rem;
}
.nameBox{
    position: relative;
    height: 40%;
    width: 100%;
}
.nameBox p{
    position: relative;
}
.priceBox{
    height: 20%;
    width: 100%;
}
.selectBox{
    height: 20%;
    width: 100%;
}
.select{
    width: 4rem;
    height: 2rem;
    font-size: 1.5rem;  
}
.buttonBox{
    height: 20%;
    width: 100%;
}
.deleteButton{
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #e9e9e9;
    color: #8f8f8f;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
  }
  .deleteButton:hover {
	color: #fff;
	background: #8f8f8f;
  }
    /* ホバーで背景変更 */
  .flex::before{
    content: '';
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease-out;
}
.flex:hover::before{
    opacity: 0.2;
}

/* 金額・お届け先情報 */
.fixedBox{
    font-size: 2rem;
    width: 20%;
    height: 70vh;
}
.subTotalBox{
    display: flex;
    position: fixed;
    border-bottom: solid 2.5px #afafaf;
    border-top: solid 2.5px #afafaf;
    font-size: 1.5rem;
    padding: 1%;
    height: 55vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.subTotalBox::before{
    content: '';
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.2s ease-out;
}
.subTotalBox:hover::before{
    background-color: black;
    opacity: 0.2;
}

.infomation{
  height: 60%;
}
.infomation h3{
}
.infomation ul{
    font-size: 1.3rem;
    margin-top: 1rem;
}
.infomation li{
  list-style:   none;
}
.totalBox{
  position: relative;
  height: 20%;
  margin-top: 1rem;
}
.total{
    color: red;
    font-size: 1.8rem;
}
.submitBox{
    position: relative;
    height: 20%;
    margin-top: 1rem;
}
.purchase{
    display: block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    margin: auto;
    padding: 1rem 4rem;
    font-weight: bold;
    border: 2px solid #e9e9e9;
    color: #8f8f8f;
    border-radius: 100vh;
    transition: 0.5s;
    cursor: pointer;
}
  .purchase:hover {
	color: #fff;
	background: #8f8f8f;
  }
