.bg_color{
    background-color: #fff3db;;
}
.title{
    text-align: center;
}
.picture{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: auto;
}
.shape{
    clip-path: circle(40% at 50% 50%);
}
