.blankMessage {
  justify-content: center;
  display: flex;
  padding: 7%;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.image {
  clip-path: circle(50% at 50% 50%);
}

.voice {
  display: block;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  margin: auto;
  padding: 1rem 4rem;
  font-weight: bold;
  border: 2px solid #e9e9e9;
  color: #8f8f8f;
  border-radius: 100vh;
  transition: 0.5s;
  cursor: pointer;
}
.voice:hover {
	color: #fff;
	background: #8f8f8f;
}


.buttonText{
  color: black;
}


.comment {
  word-wrap: break-word;
  text-align: center;
  /* width: 264px; */
}

.resultBlock {
  padding: 1%;
  position: relative;
  padding-bottom: 3%;
}

.farmerName {
  text-align: center;
  font-weight: bold;
}

.resultMessage {
  padding: 2%;
}
