.header {
  display: flex;
  background-color: rgb(197, 202, 142);
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.logo {
  border-radius: 50px;
}

.searchForm {
  border-radius: 10px;
  width: 200px;
}

/* 検索ボタンの詳細 */
.searchButton {
  background-color: cadetblue;
  border-radius: 10px;
}
/* 商品名から生産者を探す　の色 */
.searchDescription {
  color: beige;
}
/* 検索の文字色 */
.searchButtonText {
  color: beige;
}

.navButtons {
  display: flex;
}

.cartButton {
  list-style: none;
}

.logButton {
  list-style: none;
}


.headerSearchForm {
  padding-left: 1%;
  padding-right: 1%;
}
