/* 
.top-cover{
  position: relative;
  display: flex;
  height: 500px;
  align-items: center;
} */
.cover_image {
  /* position: absolute; */
    /* left: 20%; */
    width: auto;
    height: 500px;
    background-size: cover;
    background-position: center;   
} 

.top_category{
  width: 70%;
  margin: auto;
}

.top_newFace{
  display: flex;
}

.top_title{
  margin-right: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
