
.cover_image {
  /* position: absolute; */
    /* left: 20%; */
    width: auto;
    background-size: cover;
    background-position: center;   
} 

.top_cover{
  position:relative;
}
.cover_text{
  position: absolute;
  top: 60%;
  left: 15%;
  font-size: 2rem;
  color:white;
  text-shadow: black 1px 0 10px;
}

.top_category{
  width: 70%;
  margin: auto;
}

.top_newFace{
  display: flex;
}

.top_title{
  margin-right: 2rem;
  font-size: 2.5rem;
  text-align: center;
}
