.All {
    overflow: hidden;
    background-size: cover;
    color: #fff;
    position: relative;
  }
  .All::before {
    content: '';
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

 .All p{
    margin-bottom: 0;
  }
  
  /* section1 */
  .farmerMain {
    position: relative;
    display: flex;
    height: 105vh;
    align-items: center;
  }
  .farmerCoverImg {
    position: absolute;
    left: 20%;
    width: 20vw;
    height: 80vh;
    background-size: cover;
    background-position: center;
  }
  .sec1 {
    width: 80%;
  }
  .sec1 h2 {
    font-size: 4.5rem;
    line-height: 100%;
    padding: 1rem 1rem 0 1rem;
    border-bottom: 3px solid #000;  }
  .sec1 p {
    font-size: 3rem;
    line-height: 100%;
    border-bottom: 3px solid #000;  }
  .farmName {
    position: absolute;
    top: 35%;
    left: 45%;
  }
  .representative {
    position: absolute;
    top: 55%;
    left: 60%;
  }
  .farmYears {
    position: absolute;
    top: 71%;
    left: 71%;
  }
  
  /* career */
  .farmer_career {
    position: relative;
    display: flex;
    width: 85em;
    margin: 2rem auto 0 auto;
    justify-content: center;
    padding: 2rem;
  }
  .farmer_career::before {
    content: '';
    background-color: black;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .farmer_career pre {
    position: relative;
    font-size: 1.7rem;
    line-height: 3rem;
    }
  
  /* section2 */
  .sec2 {
    position: relative;
    width: 90vw;
    margin: 7rem auto 0 auto;
    text-align: center;
    font-size: 1.6rem;
  }
  .sec2 h2 {
    font-size: 2.8rem;
    border-bottom: 3px solid #000;
    position: relative;
  }
  .items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35rem;
  }
  .sec2_itemSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    height: 32rem;
    position: relative;
  }
  .sec2_itemSelect::before {
    content: '';
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in;
  }
  .sec2_itemSelect:hover::before {
    content: '';
    opacity: 0;
  }
  .formBox{
    height: 90%;
    display: flex;
    flex-direction: column; 
   }
  .itemName{
    height: 60%;   
   }
    .itemSelect{
      margin: 0;
    display: flex;
    height: 40%;
    flex-direction: column;
    justify-content: space-evenly;   
   }
  .sec2_ImageBox {
    position: relative;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }
  .sec2_itemSelect div {
    position: relative;  
  }
  .sec2_itemSelect p,
  .sec2_itemSelect label {
    position: relative;
  }
  .sec2_itemSelect div::before {
    content: '';
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.7s ease-out;
  }
  .sec2_itemSelect:hover div::before {
    content: '';
    opacity: 0.8;
  }
  .sec2_itemSelect button {
    position: relative;
    width: 100%;
    height: 2.5rem;
  }
  
  /* section3 */
  .sec3 {
    position: relative;
    width: 90vw;
    text-align: center;
    font-size: 1.4rem;
    margin: 2rem auto;
  }
  .sec3 h2 {
    font-size: 2.8rem;
    border-bottom: 3px solid #000;
  }
  .sec3_ImageBox {
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    position: relative;
    margin: 1rem auto;
  }
  .otherItems {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    text-align: center;
  }
  .otherItem {
    width: 20rem;
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    cursor: pointer;
  }
  .otherItem::before {
    content: '';
    background-color: black;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in;
  }
  .otherItem:hover::before {
    content: '';
    opacity: 0;
  }
  .otherItem div,
  .otherItem p {
    position: relative;
  }
  .otherItem div::before {
    content: '';
    background-color: black;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.7s ease-out;
  }
  .otherItem:hover div::before {
    content: '';
    opacity: 0.8;
  }
  